/* Insert your styles here */
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: url("../../media/Background.jpg");
  background-size: cover;
}

header {
  background-color: black;
  color: white;
  padding: 1px;
  text-align: center;
  opacity: 1;
  font-family: 'Cinzel', serif;
  font-size: 50px;
}

img{
  display: left;
}

footer{
  background-color: #a7adba;
  padding: 1px;
  opacity: 0.8;
}

.navbar {
  background-color: black;
  overflow: auto;
  width: 100%;
  opacity: 0.8;
}

.navbar a{
  float: left;
  color: #c0c5ce;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  width: 31.85%;
}

.navbar a:hover{
  background-color: gray;
}

.navbar a.active{
  background-color: white;
}




/*for mobile or smaller screens*/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
